.registro-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.registro-card {
	border-radius: 2rem;
	width: 30vw;
}

.registro-card .card-img-top {
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
}

.registro-card .card-body {
	align-items: center;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.registro-card form {
	width: 70%;
}